# PROJECT TITLE GOES HERE

## 2024-25 Group: X

*This is the MN5813 Group Assignment from Group X.*

- Student 1 ID
- Student 2 ID
- ...

## Project summary

In [1]:
# Add your project summary here [app. 200-250 words]

## Generative AI

In [2]:
# Add your statement / declaration here [be as specific as possible]

## Introduction

In [3]:
# Add your introduction here [app. 200-300 words]
# Formulate project aim & set of objectives

## Setup

### Import necessary libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

### Load data

In [14]:
import requests 
from zipfile import ZipFile
import io

url = 'https://raw.githubusercontent.com/malavikakhaitan23/MN5813-Group-Project/main/athlete_events.csv.zip'

retrived_url = requests.get(url)
zip_file = ZipFile(io.BytesIO(retrived_url.content))

df = pd.read_csv(zip_file.open('athlete_events.csv'))
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

### Convert into DataFrame

In [13]:
# Your code here

In [7]:
# SUGGESTION: Merge data from multiple files into a single DataFrame

Display the first few rows and basic information about the DataFrame `df` you have created from `data_source`.

In [8]:
# print(df.head())

In [9]:
# print(df.info())

## Data management

### Data cleaning

In [10]:
# TODO: Handle missing values

In [11]:
# TODO: Convert data types where necessary

In [12]:
# TODO: Remove any duplicate entries

In [13]:
# TODO: Anything else?

### Data wrangling

In [14]:
# TODO: Create at least one new column

In [15]:
# TODO: Combine at least two columns

In [16]:
# TODO: Extract data from multiple columns to create a new column

In [17]:
# TODO: Anything else?

## Data analysis

In [18]:
# TODO: Conduct data analysis

## Data visualisation

In [19]:
# TODO: Create at least two meaningful visualisations

In [20]:
# Example visualisation (you can modify or replace this)
# plt.figure(figsize=(10, 6))
# sns.countplot(x="Medal", data=df)
# plt.title("Distribution of Medals")
# plt.show()

In [21]:
# SUGGESTION: Use a small multiple

## Data export

In [22]:
# TODO: Save the cleaned and wrangled DataFrame to a new CSV file

In [23]:
# TODO: Ensure that you can successfully load the exported CSV file

In [24]:
# TODO: Export visualizations as image files

## Conclusion

In [25]:
# Add your conclusion here [app. 300-500 words].

## References

1. Reference 1
2. Reference 2
3. Reference 3
4. ...

*(References must be complete and contain a link to the original source; usually a DOI link.)*

## Appendices

### Appendix A

In [26]:
# Appendix A goes here

### Appendix B

In [27]:
# Appendix B goes here